# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.local
.env.development.local
.env.production.local

# 모든 하위 폴더의 node_modules와 .env를 찾아내서 제외하는 마법의 명령어
**/node_modules/
**/.env
**/.env.local
**/dist/
**/.DS_Store
